################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IgnouLabs/FirstSemLabs/obj/*
/.vs
/IgnouLabs/.vs
/IgnouLabs/FirstSemLabs/bin/*
